<!-- Footer -->

<footer class="page-footer font-small bg-white pt-4">
  <div class="container-fluid">
    <hr class="mr-4 ml-4 mt-0 p-0">
  </div>
  <!-- Footer Elements -->
  <div class="container">



    <!-- Call to action -->

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

            <ul class="social-network">
             <li><a href="https://www.facebook.com/generationbrasil/" class="icoFacebook" target="_blanck" title="Facebook">

              <fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-3"></fa-icon>

              </a></li>
             <li><a href="https://www.instagram.com/generationbrasil/" class="icoInstagram" target="_blanck" title="Instagram">
               <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
              </a></li>
             <li><a href="https://www.linkedin.com/school/generationbrasil/" class="icoLinkedin" title="Linkedin" target="_blanck">
               <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
              </a></li>
            </ul>

    </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <a class="text-secondary" target="_blanck" href="https://brasil.generation.org">brasil.generation.org</a>
      </div>
    </div>

    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright bg-white text-center py-3 ">
      <span class="text-secondary"> ©2020 Generation: You Employed, Inc.</span>

  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
