<div class="container">
  <div class="col-md-12">
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="form-group">
          <label for="titulo">Link da atividade</label>
          <input type="text" class="form-control" id="titulo" aria-describedby="emailHelp" placeholder="Insira o link da sua entrega aqui (obrigatório)" [(ngModel)]='entregas.linkEntrega'>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label for="texto">Observações</label>
        <textarea class="form-control" id="texto" rows="3" placeholder="Insira uma observação (opcional)" [(ngModel)]='entregas.observacoes'></textarea>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-outline-primary btn-responsive-50" (click)='atualizar()'>Atualizar</button>
      </div>
    </div>
  </div>
</div>
