.w-5{
  width: 50px;
}

td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all ease 1s;
}

td:hover {
  height: auto;
  max-width: 100px;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: initial;
}


pagination-template.ul{
  padding-left: 0px;
}

pagination-controls ::ng-deep ul.ngx-pagination {
  padding: 0px 0px 0px 0px;
}

pagination-controls ::ng-deep ul li.current {
  background: gray;
}
