
  <div class="row mb-5 mt-5">
    <div class="col-md-12">

      <div class="table-responsive">
        <table class="table table-hover">

          <thead>
            <tr class="table-primary">
              <th class="">Link padrão da sala de aula</th>
              <th class="p-0"></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor='let link of listaLinkFixo | orderBy : key : reverse'>
                <td>{{link.descricao}}</td>
                <td><a href="{{link.link}}" (click)='getClick()' class="p-0" target="_blanck">Clique aqui para entrar no Zoom</a></td>
            </tr>
          </tbody>

          <thead>
            <tr class="table-primary">
              <th class="">Links das aulas que foram gravadas</th>
              <th class="p-0"></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor='let link of listaLinksDinamicos | orderBy : key : reverse | paginate: { itemsPerPage: 5, currentPage: page }'>

                <td>{{link.descricao}}</td>
                <td><a href="{{link.link}}" class="p-0" target="_blanck">{{link.link}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <pagination-controls
      class="p-zero"
      (pageChange)="page = $event"
      previousLabel="Anterior"
      nextLabel="Próximo"
      responsive="true"
      >
    </pagination-controls>
    </div>
  </div>
