<div class="container">
    <div class="row mt-3 mb-5 d-flex justify-content-center">
        <div class="col-md-8 shadow">

            <h5 class="modal-title" id="exampleModalLabel">OCORRÊNCIA DE TURMA</h5>



            <div class="form-group">
                <label for="recipient-name" class="col-form-label texts">
                    Formulário de Ocorrência de Turma é um documento usado para registrar incidentes ou problemas relacionados a uma turma específica. Inclui informações como data e hora, nome dos alunos envolvidos, descrição do incidente e anotações adicionais. Serve para ajudar a equipe escolar a gerenciar questões relacionadas à turma e garantir um ambiente de ensino seguro e positivo para todos.
                </label>
            </div>
            <div class="row mt-3">
                <div class="col col-md-12">
                    <div class="form-group">
                        <label for="participante">Turma</label>
                        <select name="nome" [(ngModel)]="idTurma" (change)="findByIdTurma()" class="form-control">
                            <option *ngFor="let item of listaTurma" value={{item.id}}>
                                {{item.descricao}}
                            </option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="row mt-3">
                <div class="col col-md-12">
                   
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Menssagem:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                    <div class="d-flexd-flex justify-content-around mt-3 mb-3">
                        <input type="button" value="ocorrencia de participante" class="btn btn-outline-dark" data-toggle="modal" data-target="#ocorrencialuno"/>
                    </div>
                    <div class="d-flex justify-content-center mt-3 mb-3">
                        <input type="button" value="cadastrar ocorrência de tema" class="btn btn-outline-success" />
                    </div>
                </div>
            </div>
        </div>

       

    </div>
</div>

        <!-- Button trigger modal -->

        
    <div class="modal fade" id="ocorrencialuno" tabindex="-1" aria-labelledby="ocorrencialuno" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">OCORRÊNCIA DE PARTICIPANTE</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label texts">
                    Formulário de Ocorrência de Aluno é um documento usado para registrar incidentes envolvendo um aluno específico. Inclui informações como data e hora, nome do aluno, descrição do incidente, testemunhas e anotações adicionais. Serve para ajudar a equipe escolar a gerenciar questões de comportamento e manter registros para futura referência, visando garantir um ambiente de ensino seguro para todos os alunos.
                  </label>
                </div>
               

                <div class="row mt-3">
                  <div class="col col-md-12">           
                        <div class="form-group">
                          <label for="participante">Participante</label>
                          <select name="nome" [(ngModel)]="idUsuario" (change)="findByIdUser()" class="form-control">
                            <option *ngFor="let item of turma.users" value={{item.id}}>
                              {{item.nome}}
                            </option>
                          </select>
                        </div>
                  </div>
                 
              </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Menssagem:</label>
                  <textarea  class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
              <button type="button" class="btn btn-primary button" data-dismiss="modal">Enviar</button>
            </div>
          </div>
        </div>
      </div>
