<div class="row d-flex justify-content-center mt-5 mb-5">
  <div class="col-md-8">
    <div class="form-group">
      <h4 class="" for="titulo">Selecione uma turma: </h4>
      <select name="nome" [(ngModel)]="idTurma" (change)="findByIdTurma()" class="form-control">
        <option *ngFor="let turma of listaTurma" value={{turma.id}}>
          {{turma.descricao}}
        </option>
      </select>
    </div>
  </div>
</div>



<div class="row d-flex justify-content-center mb-5" *ngIf='listaOk'>
  <div class="col-md-8">
    <div class="table-responsive">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">E-mail</th>
          <th scope="col">Remoção</th>
        </tr>
      </thead>
      <tbody *ngFor='let users of turma.users'>
        <tr>
          <th scope="row">{{users.nome}}</th>
          <td>{{users.usuario}}</td>
          <td><button class="btn btn-outline-danger" (click)="onDeleteUser(users)">Remover usuário</button></td>
        </tr>
      </tbody>
    </table>
</div>
  </div>
</div>
