<div class="container">

    
    <div class="row d-flex justify-content-center ">
      <div class="col-md-3 d-flex justify-content-center ">
      <a   routerLink='/cadastro-ocorrencias'>
        <div class="card " >
          <p class="fa fa-book"></p>
          <h3>Ocorrência de turma</h3>
        </div>
      </a>
      </div>
  
      <!-- <div class="col-md-3 d-flex justify-content-center">
        <a   >
          <div class="card" >
            <p class="fa fa-graduation-cap"></p>
            <h3>Ocorrência de participante</h3>
          </div>
        </a>
      </div> -->
  
     
  
    </div>
      

    
    