<div class="container">

  <div class="row d-flex justify-content-center">

    <div class="col-md-3 mb-4 mb-md-0 d-flex justify-content-center">
      <a routerLink='/modulo-soft' (click)="nomeBloco('BSM', 'lightbulb-o')">
        <div class="card" >
          <p class="fa fa-lightbulb-o"></p>
          <h3>Trilha zero</h3>
        </div>
      </a>
    </div>

    <div class="col-md-3 mb-4 mb-md-0 d-flex justify-content-center">
    <a routerLink='/modulo-um' (click)="nomeBloco('Bloco I', 'terminal')">
      <div class="card " >
        <p class="fa fa-terminal"></p>
        <h3>Bloco I</h3>
      </div>
    </a>
    </div>

    <div class="col-md-3 mb-4 mb-md-0 d-flex justify-content-center">
      <a routerLink='/modulo-dois' (click)="nomeBloco('Bloco II', 'database')">
        <div class="card" >
          <p class="fa fa-database"></p>
          <h3>Bloco II</h3>
        </div>
      </a>
    </div>

    <div class="col-md-3 mb-4 mb-md-0 d-flex justify-content-center">
      <a routerLink='/modulo-tres' (click)="nomeBloco('Bloco III', 'code')">
        <div class="card" >
          <p class="fa fa-code" ></p>
          <h3>Bloco III</h3>
        </div>
      </a>
    </div>

  </div>

  </div>

