<div class="row mb-5 mt-5">
  <div class="col">
    <button class="btn btn-outline-primary mb-2" type="button" data-toggle="collapse" data-target="#filtro" attr.aria-expanded="false" aria-controls="collapseExample">
      Filtrar
    </button>

    <div class="collapse" id="filtro">
      <div class="card card-body">
        <div class="row">
          <div class="col">
            <div class="form-group w-100">
              <label for="inputState" class="mb-0">Turma</label>
              <select name="nome" [(ngModel)]="idTurma" (change)="findByIdTurma()" class="form-control">
                <option *ngFor="let item of listaTurma" value={{item.id}}>
                  {{item.descricao}}
                </option>
              </select>
            </div>
          </div>

          <div class="col">
            <div class="form-group w-100">
              <label for="data-inicial" class="mb-0">Data Inicial</label>
              <input type="date" class="form-control" name="data-inicial" id="data-inicial"
                [(ngModel)]='dataIn'>
            </div>
          </div>

          <div class="col">
            <div class="form-group w-100">
              <label for="data-final" class="mb-0">Data Final</label>
              <input type="date" class="form-control" name="data-final" id="data-final"
                [(ngModel)]='dataEnd'>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col d-flex justify-content-center">
            <button class='btn btn-outline-primary btn-block' data-toggle="collapse" data-target="#filtro" (click)='findTempoAtendimentoByTurma()'>Filtrar</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<!--Sem filtro-->
<div *ngIf='!filtro'>

  <div class="row mb-5">
    <div class="col">

      <h5 class='text-center'>Tempo de todas as turmas de {{dataInicio | date: 'dd/MM/yyyy'}} até
        {{dataFinal | date: 'dd/MM/yyyy'}}</h5>

    </div>
  </div>

  <div class="row mb-3 ">
    <div class="col-md-2 d-flex justify-content-center">
      <h6>Turma</h6>
    </div>
    <div class="col-md-1 d-flex justify-content-center">
      <h6>Minutos</h6>
    </div>
    <div class="col-md-9">
      <h6>Porcentagem</h6>
    </div>
  </div>

  <div class="row mb-3 " *ngFor='let item of listaFormSolicitacao'>
    <div class="col-md-2 d-flex align-items-center justify-content-center">
      <p>{{item.descricao}}</p>
    </div>
    <div class="col-md-1 d-flex align-items-center justify-content-center">
      <p>{{item.qtd}}</p>
    </div>
    <div class="col-md-9 ">
      <div class="progress h-75 d-flex align-items-center">
        <div class="progress-bar h-100" role="progressbar" style="width: {{item.percent}}%;"
          aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{item.percent}}%</div>
      </div>
    </div>
  </div>
</div>
<!--/Sem filtro-->

<!--Com filtro-->
<div *ngIf='filtro'>

  <div class="row mb-5">
    <div class="col">

      <h5 class='text-center'>Tempo de atendimento da {{formSolicitacao.descricao}} de {{dataIn | date:
        'dd/MM/yyyy'}} até
        {{dataEnd | date: 'dd/MM/yyyy'}}</h5>

    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-5">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Turma</th>
            <th scope="col">Minutos</th>
            <th scope="col">Horas</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{formSolicitacao.descricao}}</th>
            <td>{{formSolicitacao.qtd}}</td>
            <td>{{horas}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  

  <div class="row mb-5">
    <div class="col d-flex justify-content-center">
      <a class='text-primary' (click)='findAllTempoAtendimentoByTurma()'>Listar tudo</a>
    </div>
  </div>
</div>
<!--/Com filtro-->


