<div class="container">

  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      <h3 class="text-center">Cadastro de cores para o cronograma</h3>
    </div>
  </div>

  <div class="row d-flex justify-content-center mb-5">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <input class="form-control" type="text" name="nome" id="nome" placeholder="Nome da cor" ([ngModel])='cor.nome'>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <input class="form-control" type="text" name="rgb" id="rgb" placeholder="Hexadecimal" ([ngModel])='cor.rgb'>
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-outline-info" (click)='cadastrar()'>Cadastrar</button>
        </div>
      </div>
    </div>
  </div>

</div>
