.btn-inserir{
  box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
}

.btn-inserir:hover{
  text-decoration: none;
}

.inserir{
  background-color: #fff !important;
  color: #4b4b4b !important;
  transition: 0.5s;
}


.inserir:hover{
  background-color: #3e64ff !important;
  color: #fff !important;

}

#primeira, #segunda, #terceira{
  display: none;
}

.fa-check-circle-o{
  font-size: 24pt;
  color:#A9A9A9;
  transition: 0.5s;
}

.fa-check-circle-o:hover{
  color: '#fff';
  background-color: '#228B22';
  cursor: pointer;
}

#inputUm, #inputDois, #inputTres, #txtUm, #txtDois, #txtTres{
  transition: 0.5s;
}

.bg-blue{
  background-color: #b8daff !important;
}

a{
  cursor: pointer;
}
