<div class="container mb-5">

  <div>
    <div class="form-group">
      <label class="" for="titulo">Titulo:</label>
      <input type="text" class="form-control" id="titulo" aria-describedby="emailHelp" placeholder="Digite aqui o titulo" [(ngModel)]='atividade.titulo'>
    </div>

    <div class="form-group">
        <label class="" for="texto">Descrição:</label>
        <textarea class="form-control" id="texto" rows="3" placeholder="Digite aqui a descrição" [(ngModel)]='atividade.atividade'></textarea>
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="" for="titulo">Link:</label>
          <input type="text" class="form-control" id="titulo" aria-describedby="emailHelp" placeholder="Insira aqui o link" [(ngModel)]='atividade.linkUtil'>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="" for="titulo">Confirme o Modulo:</label>
          <select name="nome" [(ngModel)]="idModulo" (change)="findByIdModulo()" class="form-control">
            <option *ngFor="let modulo of listaModulos" value={{modulo.id}}>
                {{modulo.descricao}}
            </option>
          </select>
        </div>
      </div>
    </div>


    <div class="d-flex justify-content-center mt-5">
        <button type="button" class="btn btn-outline-danger btn-responsive mr-5" routerLink='/admin'>Cancelar</button>

        <button type="button" class="btn btn-outline-success btn-responsive" (click)="atualizar()">Atualizar</button>
    </div>
  </div>

</div>

