.bg{
  background-color: #ffb142;
}

.btn-outline-warning:hover{
  background-color: #ffb142;
  color: white;

}

.btn-outline-warning{
  color: #ffb142;
  border-color: #ffb142;
}

.w-5{
  width: 50px;
}
.card{
  background-color: #fff;
  border: 0;
  color: #ffb142;
  box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
  transition: 0.5s;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.card:hover{
  color: #000;
  background-color: #ffb142;
  height: 105%;
  width: 105%;

}

.fa{
  font-size: 30pt;
}
