<nav>
  <div class="nav nav-tabs d-flex flex-nowrap" style="overflow-x: auto; -webkit-overflow-scrolling: touch; white-space: nowrap; border-bottom: none;" id="nav-tab" role="tablist">

    <a class="nav-item flex-shrink-0 nav-link active text-primary font-weight-bold" id="nav-zoom-tab" data-toggle="tab" href="#zoom" role="tab"
      aria-controls="nav-zoom" aria-selected="true">Zoom</a>

  </div>
</nav>

<div class="tab-content" id="nav-tabContent">

  <div class="tab-pane fade show active" id="zoom" role="tabpanel" aria-labelledby="nav-zoom-tab">
    <div class="row mt-5 mb-2 d-flex justify-content-center">
      <div class="col-md-8 text-center">
        <p class="text-danger font-weight-bold">Antes de criar um novo link, verifique na lista abaixo se ele já existe. Nessa lista existem as opções de editar ou apagar algum link, caso você precise.</p>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="accordion" id="accordionExample">
          <div class="card border-0">
            <button class="btn btn-link btn-inserir border-0 p-0 collapsed rounded text-uppercase text-center font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <div class="card-header inserir border-0" id="headingTwo">
                <h5 class="mb-0">
                    Inserir um novo link
                </h5>
              </div>
            </button>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <div class="row d-flex align-items-center">

                  <div class="col-md-6 p-1">
                    <div class="form-group">
                      <label for="descricao">Descrição</label>
                      <input type="text" class="form-control" name="descricao" id="descricao" placeholder="Insira aqui a descrição" [(ngModel)]='zoom.descricao'>
                    </div>

                  </div>
                  <div class="col-md-6 p-1">
                    <div class="form-group">
                      <label for="link">Link</label>
                      <input type="text" class="form-control" name="descricao" id="descricao" placeholder="Insira aqui o link" [(ngModel)]='zoom.link'>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 p-1">
                    <div class="form-group">
                      <label for="turma">Turma</label>
                      <select name="turma" id='turma' [(ngModel)]="idTurma" (change)="findByIdTurma()" class="form-control">
                        <option *ngFor="let item of listaTurma" value={{item.id}}>
                          {{item.descricao}}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-6 p-1">
                    <div class="form-group">
                      <label for="turma">Tipo<span class="text-danger">*</span></label>
                      <select name="turma" id='turma' [(ngModel)]='isFixo' (change)='valorFixo()' class="form-control">
                        <option value='1'>Fixo</option>
                        <option value='0'>Aulas</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col-md-12 d-flex justify-content-center">
                    <small class="text-danger">
                      <strong>*Campo Tipo:</strong> Se for um link da sala no zoom padrão, escolha <strong>FIXO</strong>, se for um link de uma aula no zoom gravada, escolha <strong>AULAS</strong>.
                    </small>
                  </div>
                </div>


                <div class="row mt-4">
                  <div class="col-md-12 d-flex justify-content-center">
                    <button class="btn btn-outline-success btn-responsive" (click)='postLinkZoom()'>Inserir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="mt-5 mb-5 w-50">


        <div class="row mt-5 d-flex justify-content-center">
          <div class="col-md-8">
            <h4 class="text-center">Escolha uma turma para listar os links do zoom</h4>
          </div>
        </div>

        <div class="row mt-2 d-flex justify-content-center">
          <div class="col-md-5 d-flex justify-content-center">
            <div class="form-group w-100">
              <select name="turmaAgenda" id='turmaAgenda' [(ngModel)]="idTurmaLista" (change)="listarLinks()" class="form-control">
                <option *ngFor="let item of listaTurma" value={{item.id}}>
                  {{item.descricao}}
                </option>
              </select>
            </div>
          </div>
        </div>



        <div *ngIf='selecionado'>
          <div class="table-responsive">
  <table class="table table-hover mt-5">

            <thead>
              <tr class="table-primary">
                <th scope="col">Descrição</th>
                <th scope="col">Link</th>
                <th scope="col">Modificar</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor='let link of listaLinkFixo | orderBy : key : reverse'>
                  <td>{{link.descricao}}</td>
                  <td><a href="{{link.link}}" class="p-0" target="_blanck">{{link.link}}</a></td>
                  <td>
                    <a class="btn btn-link mr-3 text-success" (click)="titulos('Editar Link', 'comments')"[routerLink]="['/editar-link-zoom', link.id]">Editar</a>
                    <a class="btn btn-link text-danger" (click)='deletarLink(link)'>Apagar</a>
                  </td>
              </tr>
            </tbody>

            <thead>
              <tr class="table-primary">
                <th class="">Links das aulas que foram gravadas</th>
                <th class="p-0"></th>
                <th class="p-0"></th>
                <th class="p-0"></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor='let link of listaLinksDinamicos | orderBy : key : reverse | paginate: { itemsPerPage: 5, currentPage: page }'>
                  <td>{{link.descricao}}</td>
                  <td><a href="{{link.link}}" class="p-0" target="_blanck">{{link.link}}</a></td>
                  <td>
                    <button class="btn btn-link mr-3 text-success" [routerLink]="['/editar-link-zoom', link.id]">Editar</button>
                    <button class="btn btn-link text-danger" (click)='deletarLink(link)'>Apagar</button>
                  </td>

              </tr>
            </tbody>
          </table>
</div>


      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <pagination-controls
          class="p-zero"
          (pageChange)="page = $event"
          previousLabel="Anterior"
          nextLabel="Próximo"
          responsive="true"
          >
        </pagination-controls>
        </div>
      </div>
        </div>
  </div>

</div>







