<div class="container mb-5 mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-5 p-1">
      <input type="text" class="form-control" name="descricao" id="descricao" placeholder="Insira a descrição do link" [(ngModel)]='linksUteis.descricao'>
    </div>
    <div class="col-md-5 p-1">
      <input type="text" class="form-control" name="descricao" id="descricao" placeholder="Insira o link" [(ngModel)]='linksUteis.link'>
    </div>

</div>

<div class="row d-flex justify-content-center mt-5">
  <div class="col-md-3 d-flex justify-content-center">
    <button class="btn btn-outline-primary btn-responsive-50" (click)='atualizar()'>Atualizar</button>
  </div>
</div>

</div>
